*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  width: 1500px; }

.header {
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(180, 199, 176, 0.1), rgba(83, 90, 88, 0.1)), url(../img/m-h-day.jpg);
  background-size: cover;
  background-position: center;
  border-bottom-right-radius: 40%;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif; }
  .header_heading {
    font-weight: bold;
    font-size: 60px;
    padding-top: 30px;
    width: 430px;
    opacity: 0.6; }
  .header_text {
    padding-top: 30px;
    text-align: justify;
    font-size: 13px;
    width: 500px;
    opacity: 0.6; }
  .header-wrap {
    margin-left: 170px; }
  .header_button {
    margin-top: 40px;
    background-color: #6B8E23;
    border: none;
    color: #fff;
    width: 100px;
    height: 35px;
    border-radius: 2px; }

.login {
  color: #fff;
  padding-left: 120px; }

.landing-logo {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  opacity: 0.6; }

.landing-logo p {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 20px; }

.landing-logo span {
  font-size: 10px; }

.section {
  padding: 25px 0 150px 0; }

.section_text {
  text-align: center;
  font-size: 35px;
  font-family: 'Source Sans Pro', sans-serif; }

.section_card_wrap {
  margin-left: 350px; }

.section_card {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  background-color: #09090aec;
  padding: 10px;
  margin: 20px;
  height: 220px; }

.section_card_img {
  height: 200px; }

.section_card_right_container {
  color: #fff;
  padding-left: 70px;
  padding-right: 40px; }

.section_card_heading {
  font-size: 20px;
  text-align: center;
  padding: 30px 0 30px 0; }

.section_card_text {
  font-size: 14px;
  padding-bottom: 20px;
  color: #f8f2f28a;
  text-align: justify;
  width: 350px;
  font-family: 'Source Sans Pro', sans-serif; }

.section_card_right_container .section_link {
  color: #f8f2f28a;
  font-size: 10px;
  padding-left: 150px; }

.section_banner {
  background: linear-gradient(to right, #14bd22, #4636d8);
  width: 900px;
  height: 100px;
  border-radius: 5px;
  position: absolute;
  left: 320px;
  z-index: 2;
  margin-top: 100px; }

.section_banner_text_wrap {
  margin: 15px 0 0 100px;
  line-height: 30px;
  position: relative; }

.section_banner_heading {
  font-weight: bold;
  font-size: 25px; }

.section_banner_text {
  font-size: 12px;
  color: #f8f2f28a; }

.section_banner_button {
  float: right;
  background-color: #008b00;
  border: none;
  color: #f8f2f2dc;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  bottom: 35px;
  right: 100px; }

.footer {
  background-color: #070720ec;
  height: 180px; }

.footer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 80px;
  align-items: center;
  font-size: 12px;
  color: #f8f2f28a; }

.footer_logo p {
  color: #fff;
  font-size: 20px;
  padding-bottom: 5px; }

.footer_text {
  width: 230px; }

.footer_logo span {
  font-size: 10px; }

/*# sourceMappingURL=style1.css.map */
