@import"variables1";
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    width: 1500px;
}

.header {
    height: 70vh;
    background-image: linear-gradient(to right bottom, rgba(180, 199, 176, 0.1), rgba(83, 90, 88, 0.1)), url(../img/m-h-day.jpg);
    background-size: cover;
    background-position: $center;
    border-bottom-right-radius: 40%;
    position: $position;
    font-family: $fontFamily;
    &-wrap {
        margin-left: 170px;
        .landing-logo {
            display: flex;
            flex-direction: row;
            padding-top: 30px;
            opacity: 0.6;
            p {
                display: flex;
                flex-direction: column;
                padding-left: 15px;
                text-align: $center;
                font-weight: $fontWeight;
                font-size: 20px;
            }
            span {
                font-size: 10px;
            }
        }
    }
    &_heading {
        font-weight: $fontWeight;
        font-size: 60px;
        padding-top: 30px;
        width: 430px;
        opacity: 0.6;
        position: $position;
        &:before {
            content: "";
            background-color: $deepSkyBlue;
            width: 250px;
            height: 40px;
            z-index: -1;
            position: absolute;
            top: 130px;
        }
    }
    &_text {
        padding-top: 30px;
        text-align: justify;
        font-size: 13px;
        width: 500px;
        opacity: 0.6;
    }
    &_button {
        margin-top: 40px;
        background-color: $yellowGreen;
        border: none;
        color: $colorWhite;
        width: 100px;
        height: 35px;
        border-radius: 2px;
    }
    .login {
        color: $colorWhite;
        padding-left: 120px;
    }
}

.section {
    padding: 25px 0 150px 0;
    &_text {
        text-align: $center;
        font-size: 35px;
        font-family: $fontFamily;
        position: $position;
        &:before {
            content: "";
            background-color: $darkTurquoise;
            width: 150px;
            height: 35px;
            z-index: -1;
            position: absolute;
            left: 760px;
        }
    }
    &_banner {
        background: linear-gradient(to right, $yellowGreen, $colorBlue);
        width: 900px;
        height: 130px;
        border-radius: 5px;
        position: absolute;
        left: 320px;
        z-index: 2;
        margin-top: 85px;
        &_heading {
            font-weight: $fontWeight;
            font-size: 28px;
        }
        &_text {
            font-size: 16px;
            color: $colorSilver;
            &_wrap {
                margin: 25px 0 0 100px;
                line-height: 30px;
                position: $position;
            }
        }
        &_button {
            float: right;
            background-color: $yellowGreen;
            border: none;
            color: $colorWhite;
            width: 100px;
            height: 30px;
            border-radius: 5px;
            position: absolute;
            bottom: 50px;
            right: 100px;
        }
    }
    &_card {
        display: flex;
        flex-direction: row;
        width: 70%;
        align-items: $center;
        background-color: $darkColor;
        padding: 10px;
        margin: 20px;
        height: 220px;
        &_wrap {
            margin-left: 350px;
        }
        &_img {
            height: 200px;
        }
        &_text {
            font-size: 14px;
            padding-bottom: 20px;
            color: $colorSilver;
            text-align: justify;
            width: 350px;
            font-family: $fontFamily;
        }
        &_heading {
            font-size: 20px;
            text-align: $center;
            padding: 30px 0 30px 0;
        }
        &_right_container {
            color: $colorWhite;
            padding-left: 70px;
            padding-right: 40px;
            .section_link {
                color: $colorSilver;
                font-size: 10px;
                padding-left: 150px;
            }
        }
    }
}

.footer {
    background-color: $darkColor;
    height: 180px;
    &-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 80px;
        align-items: $center;
        font-size: 12px;
        color: $colorSilver;
    }
    &_logo {
        display: flex;
        p {
            display: flex;
            flex-direction: column;
            text-align: $center;
            line-height: 20px;
            font-size: 18px;
        }
    }
    &_text {
        width: 230px;
    }
    span {
        font-size: 10px;
    }
}