//Color
$colorWhite: #fff;
$colorSilver:#C0C0C0;
$deepSkyBlue:#00BFFF;
$darkTurquoise:#00CED1;
$darkColor: #001f35;
$yellowGreen:rgb(111, 153, 28);
$colorBlue: rgb(47, 82, 187);
//
$fontWeight:bold;
//
$position: relative;
$center: center;
//
$fontFamily:'Source Sans Pro',
sans-serif;