/* Todo: your styles go here*/

.hide {
    display: none;
}

.show {
    display: block;
}

ul {
    list-style: none;
}

.material-icons {
    color: yellow;
}

.liFile i {
    color: lightgray;
}

.select:hover {
    background-color: rgb(236, 235, 235);
}

.select {
    display: flex;
    align-items: center;
}